
.LectureContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.noRecord
{
    font-size: 18px;
    margin-left: 30px;
}