.TailContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    justify-items: stretch;
    align-items: stretch;
    margin: 30px 0;
 }

 @media screen and (max-width: 1150px) {
    .TailContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .TailContainer {
        grid-template-columns: 1fr;
    }
}
  