body {
text-align: center;
}

.team-container {
    h1,h2,h3,h4,h5,h6 {
        color: yellow;
        margin-top: 20px;
    }

    display: flex;
    flex-direction: column;
}

.clear-both {
    clear: both;
}

.team {
    margin: auto;
}

