.about-us {
    background-color: #13161a;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-top: 20px;
     width: 1070px;
}

.about-us-title {
    color: yellow;
}
