.Header {
  background-color: #232323;
  color: #ddd;;
  display: flex;
  height: 60px;
  align-items: center;
  width: 100vw;
}
.header-text {
  color:#FFDE59;
}
.logo {
  height: 70px;
  width: 70px;
}