.LectureComponent {
    background: #424945;

    justify-content: center;
    padding: 5px;
    margin-top: 2px;
    width: 40vw;
}

.LectureComponent:nth-child(2n) {
    background: #505251;
}
//
//.Stars {
//    display: flex;
//    width: 330px;
//}

@media screen and (max-width: 900px) {
    .LectureComponent {
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    .LectureComponent {
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }
    #Stars {
        margin-top: 10px;
    }
}

.dv-star-rating-star
{
    font-size: 70px;
    padding: 0px;
    margin: 0px;
}