.FooterClass
{
    background-color: #232323;
    color:#ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    position: absolute;
    bottom: 0;
    height: 40px;
}
.FooterText{
    color: #D6D6D6;
  }
// .logoFooter{
//     height: 100%;
//     width: 50px;
//   }