.TailContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-items: center;
    margin: 15px 0;
 }

 @media screen and (max-width: 1150px) {
    .TailContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .TailContainer {
        grid-template-columns: 1fr;
    }
}

.styled-select {
    margin: 15px 0 0 0;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}